@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: "Roboto", sans-serif;
}

ul {
    text-decoration: none;
}

nav {
    margin: 5px 5px 5px 5px;
    float: left;

    width: 15%;
    height: 100vh;

    position: fixed;
}

nav ul {
    display: block;
}


nav ul li {
    padding: 1rem;
}

.navbar-brand a h2 {
    text-decoration: none;
    color: black;

    font-size: x-large;
    font-weight: 500;
}

main{

    margin: 5px 5px 5px 5px;
}


form {

    margin-top: 10px;
    display: grid;
    gap: 10px 20px;
    grid-template-columns: 300px 300px;
}

#name-input {
    grid-column: 1/ span 2;
}

#address-input {
    grid-column: 1/ span 2;
}

#email-input {
    grid-column: 1/ span 2;
}
